<div class="card portal">
                    
    <div class="card-title"><b>Add Individual</b></div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Family
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-fam" id="drop-fam" (change)="GetChosenFamily()" [(ngModel)]="familyOption">
                <option *ngFor="let family of families; let i = index" [value]="i">{{ family }}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Type
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-typ" id="drop-typ" (change)="GetChosenType()" [(ngModel)]="individualTypeOption">
                <option *ngFor="let type of individualTypes; let i = index" [value]="i">{{ type }}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            First Name
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" [(ngModel)]="firstName">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Last Name
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" [(ngModel)]="lastName">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Sex
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-sex" id="drop-sex" (change)="GetChosenSex()" [(ngModel)]="sexOption">
                <option *ngFor="let sex of sexes; let i = index" [value]="i">{{ sex }}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Date of birth
        </div>
        <div class="col-12 col-sm-6">
            <input type="date" [(ngModel)]="dateOfBirth">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Location
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-loc" id="drop-loc" (change)="GetChosenLocation()" [(ngModel)]="locationOption">
                <option *ngFor="let location of locations; let i = index" [value]="i">{{ location }}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Phone Number
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-pho" id="drop-pho" (change)="GetChosenPhoneNumber()" [(ngModel)]="phoneNumberOption">
                <option *ngFor="let phoneNumber of phoneNumbers; let i = index" [value]="i">{{ phoneNumber }}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Description
        </div>
        <div class="col-12 col-sm-6">
            <textarea [(ngModel)]="description" rows="3"></textarea>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Status
        </div>
        <div class="col-12 col-sm-6">
            <select class="drop-sta" id="drop-sta" (change)="GetChosenStatus()" [(ngModel)]="statusOption">
                <option *ngFor="let status of statuses; let i = index" [value]="i">{{ status }}</option>
            </select>
        </div>
    </div>
    <hr>

    <div>
        <div class="row individual-buttons"> 
             <!-- bottom-docked-buttons"> -->
            <div class="col-4">
                <button (click)="Save()">Save</button>
            </div>
            <div class="col-4">
                <button (click)="Reset()">Reset</button>
            </div>
            <div class="col-4">
                <button (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>