<div class="card portal">
                    
    <div class="card-title"><b>Add Family</b></div>
    <hr>

    <div class="row">
        <div class="col-12 col-sm-6">
            Family Name
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" [(ngModel)]="familyName">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            Description
        </div>
        <div class="col-12 col-sm-6">
            <textarea [(ngModel)]="familyDescription" rows="3"></textarea>
        </div>
    </div>
    <hr>

    <div>
        <div class="row individual-buttons"> 
             <!-- bottom-docked-buttons"> -->
            <!-- <div class="col-4">
                <button (click)="Save()">Save</button>
            </div>
            <div class="col-4">
                <button (click)="Reset()">Reset</button>
            </div>
            <div class="col-4">
                <button (click)="Cancel()">Cancel</button>
            </div> -->

            <div class="col-4 justify-content-center text-center">
                <button (click)="Save()">Save</button>
            </div>
            <div class="col-4 justify-content-center text-center">
                <button (click)="Reset()">Reset</button>
            </div>
            <div class="col-4 justify-content-center text-center">
                <button (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
