<div class="card portal">
    <div class="card-title"><b>Lookup</b></div>
    <hr>
    <div class="portal-body">
        <div class="row">
            <div class="col-5" *ngIf="dropdownDto.length > 1">
                <select class="drop-secid" id="drop-secid" (change)="filterSearchLookupList()" [(ngModel)]="lookupSecondaryId" [disabled]="isDisabled">
                    <!-- <option *ngFor="let id of secondIds; let i = index" [value]="id.id">{{ id.name }}</option> -->
                    <option *ngFor="let id of secondIds; let i = index" [value]="i">{{ id.name }}</option>
                </select>
            </div>
            <div class="col-7">
                <input type="text" [(ngModel)]="lookupTerm" placeholder="Enter search term" (ngModelChange) = "filterSearchLookupList()">
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <th (click)="Order('id')">ID</th>
                        <th (click)="Order('name')">Name</th>
                        <th (click)="Order('isAssigned')" *ngIf="hasAssignedFlag">Assigned</th>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let item of page" (click)="SelectItem(item)">
                            <td class="id">{{ item.id }}</td>
                            <td class="name">{{ item.name }}</td>
                            <div *ngIf="hasAssignedFlag" class="assigned-flag">
                                <input type="checkbox" [(checked)]="item.isAssigned" (click)="ClickAssigned(item, $event)">
                            </div>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="pagination-button" (click)="GetPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
        </div>
        <div class="col text-center">
            <span>Page {{ currentPage }}</span>
        </div>
        <div class="col text-end">
            <button class="pagination-button" (click)="GetPage(currentPage + 1)" [disabled]="currentPage * pageSize >= lookupItems.length">Next</button>
        </div>
    </div>
    <div class="portal-footer text-center">
        <button class="bottom-docked-buttons" (click)="Save()" *ngIf="hasAssignedFlag" >Save</button>
        <button class="bottom-docked-buttons" (click)="Cancel()">Return</button>
    </div>
</div>
