<div class="container-fluid">
    <div class="card main">
        <div class="row">
            <div class="col-sm-4 col-12">
                <p>portalState: {{ portalState }}</p>
                <div *ngIf="portalState === 0" > 
                    <h1>Ready for Lift Off!</h1> 
                    <button (click)="activatePortal(2)">Next</button>
                </div>
                <div *ngIf="portalState === 2">
                    <app-individual-upsert [entrancePortal] = 0 (returnToPreviousPortal)=activatePortal($event)></app-individual-upsert>
                </div>
            </div>
        </div>
    </div>
</div>