<div class="container-fluid outer-container">
    <div>Welcome to The Nexus, {{ userName }}!</div>
    <div class="card main">
        <div class="row main-row">
            <div class="col-sm-4 col-12 nexus-ready">
                <div *ngIf="portalState === portal.NexusPortal">
                    <app-entrance-portal 
                        [userName]="userName"
                        (goToNextPortal)="activatePortal($event)"
                        (userNameChange)="setUserName($event)"
                    ></app-entrance-portal>
                </div>

                <div *ngIf="portalState === portal.ChoosePortal">
                    <!-- <app-main-menu (goToNextPortal)="activatePortal($event)"></app-main-menu> -->
                    <app-options
                        [entrancePortal]="portal.NexusPortal"
                        [optionName]="'Main'"
                        [optionButtonNames]="['Individual','Group','Location','Phone Number']"
                        [optionButtonPortals]="[portal.IndividualOptions, portal.GroupOptions, portal.LocationOptions, portal.PhoneNumberOptions]"
                        (goToNextPortal)="activatePortal($event)"
                        (selectedItemChange)="resetData()">
                    </app-options>
                </div>

                <div *ngIf="portalState === portal.GroupUpsert">
                    <app-group-upsert 
                        [allPortalNavigation] =     allPortalStates
                        [upsertGroup] =             groupMain
                        (goToNextPortal) =          activatePortal($event)
                    ></app-group-upsert>
                </div>

                <div *ngIf="portalState === portal.IndividualOptions">
                    <!-- <app-individual-options 
                        [entrancePortal] =          portal.ChoosePortal 
                        (goToNextPortal) =          activatePortal($event)
                        (selectedItemChange) =      resetData()
                    ></app-individual-options> -->
                    <app-options
                        [entrancePortal]="portal.ChoosePortal"
                        [optionName]="'Individual'"
                        [optionButtonNames]="['Add Individual','Find Individual']"
                        [optionButtonPortals]="[portal.IndividualUpsert, portal.IndividualLookup]"
                        (goToNextPortal)="activatePortal($event)"
                        (selectedItemChange)="resetData()">
                    </app-options>
                </div>

                <div *ngIf="portalState === portal.IndividualUpsert">
                    <app-individual-upsert 
                        [allPortalNavigation] =         allPortalStates
                        [dropdownDto] =                 dropdownDtoMain
                        [locationDropdownDto] =         dropdownDtoLocationMain
                        [phoneNumberDropdownDto] =      dropdownDtoPhoneNumberMain
                        [individualTypeDropdownDto] =   dropdownDtoIndividualTypeMain
                        [upsertIndividual] =            individualMain
                        (goToNextPortal) =              activatePortal($event)>
                    </app-individual-upsert>
                </div>

                <div *ngIf="portalState === portal.IndividualLookup">
                    <ng-container *ngIf="!loadingLookup; else loadingTpl">
                        <app-individual-lookup 
                            [allPortalNavigation] = allPortalStates
                            [lookupDto] =           lookupDtoMain
                            [dropdownDto] =         dropdownDtoMain
                            [lookupPortal] =        portal.IndividualUpsert
                            [filteredSecondaryId] = groupMain.groupId
                            (goToNextPortal) =      activatePortal($event)
                            (selectedItemChange) =  onSelectedItemChange($event)
                            (sortChange) =          updateSort($event)
                            (assignedFlagChanges) = setAssignedFlagChanges($event)
                        ></app-individual-lookup>
                    </ng-container>
                    <ng-template #loadingTpl>
                        <div class="card portal">
                            <div class="card-title"><b>Loading Individuals...</b></div>
                            <div class="spinner-wrapper">
                                <div class="spinner" aria-hidden="true"></div>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="portalState === portal.GroupOptions">
                    <!-- <app-group-options 
                        [entrancePortal] =          portal.ChoosePortal 
                        (goToNextPortal) =          activatePortal($event)
                        (selectedItemChange) =      resetData()
                    ></app-group-options> -->
                    <app-options
                        [entrancePortal]="portal.ChoosePortal"
                        [optionName]="'Group'"
                        [optionButtonNames]="['Add Group','Find Group']"
                        [optionButtonPortals]="[portal.GroupUpsert, portal.GroupLookup]"
                        (goToNextPortal)="activatePortal($event)"
                        (selectedItemChange)="resetData()">
                    </app-options>
                </div>

                <div *ngIf="portalState === portal.GroupLookup">
                    <ng-container *ngIf="!loadingGroup; else loadingGroupTpl">
                        <app-individual-lookup  
                            [allPortalNavigation] = allPortalStates
                            [lookupDto] =           lookupDtoMain
                            [lookupPortal] =        portal.GroupUpsert
                            
                            (goToNextPortal) =      activatePortal($event)
                            (selectedItemChange) =  onSelectedItemChange($event)
                            (sortChange) =          updateSort($event)
                        ></app-individual-lookup>
                    </ng-container>
                    <ng-template #loadingGroupTpl>
                        <div class="card portal">
                            <div class="card-title"><b>Loading Groups...</b></div>
                            <div class="spinner-wrapper">
                                <div class="spinner" aria-hidden="true"></div>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="portalState === portal.LocationUpsert">
                    <app-location-upsert 
                        [allPortalNavigation] =         allPortalStates
                        [upsertLocation] =              locationMain
                        [individualId] =                individualMain.individualId
                        (goToNextPortal) =              activatePortal($event)>
                    </app-location-upsert>
                </div>

                <div *ngIf="portalState === portal.LocationLookup">
                    <ng-container *ngIf="!loadingLocation; else loadingLocationTpl">
                        <app-individual-lookup  
                            [allPortalNavigation] = allPortalStates
                            [lookupDto] =           lookupDtoMain
                            [lookupPortal] =        portal.LocationUpsert
                            [hasAssignedFlag]=      shouldUseAssignedFlag(individualMain.individualId) 
                            
                            (goToNextPortal) =      activatePortal($event)
                            (selectedItemChange) =  onSelectedItemChange($event)
                            (sortChange) =          updateSort($event)
                            (assignedFlagChanges) = setAssignedFlagChanges($event)
                        ></app-individual-lookup>
                    </ng-container>
                    <ng-template #loadingLocationTpl>
                        <div class="card portal">
                            <div class="card-title"><b>Loading Locations...</b></div>
                            <div class="spinner-wrapper">
                                <div class="spinner" aria-hidden="true"></div>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="portalState === portal.LocationOptions">
                    <app-options
                        [entrancePortal]="portal.ChoosePortal"
                        [optionName]="'Location'"
                        [optionButtonNames]="['Add Location','Find Location']"
                        [optionButtonPortals]="[portal.LocationUpsert, portal.LocationLookup]"
                        (goToNextPortal)="activatePortal($event)"
                        (selectedItemChange)="resetData()">
                    </app-options>
                </div>

                <div *ngIf="portalState === portal.PhoneNumberUpsert">
                    <app-phone-number-upsert 
                        [allPortalNavigation] =         allPortalStates
                        [upsertPhoneNumber] =           phoneNumberMain
                        [individualId] =                individualMain.individualId
                        (goToNextPortal) =              activatePortal($event)>
                    </app-phone-number-upsert>
                </div>

                <div *ngIf="portalState === portal.PhoneNumberLookup">
                    <ng-container *ngIf="!loadingPhoneNumber; else loadingPhoneNumberTpl">
                        <app-individual-lookup  
                            [allPortalNavigation] = allPortalStates
                            [lookupDto] =           lookupDtoMain
                            [lookupPortal] =        portal.PhoneNumberUpsert
                            [hasAssignedFlag]=      shouldUseAssignedFlag(individualMain.individualId) 
                            
                            (goToNextPortal) =      activatePortal($event)
                            (selectedItemChange) =  onSelectedItemChange($event)
                            (sortChange) =          updateSort($event)
                            (assignedFlagChanges) = setAssignedFlagChanges($event)
                        ></app-individual-lookup>
                    </ng-container>
                    <ng-template #loadingPhoneNumberTpl>
                        <div class="card portal">
                            <div class="card-title"><b>Loading Phone Numbers...</b></div>
                            <div class="spinner-wrapper">
                                <div class="spinner" aria-hidden="true"></div>
                            </div>
                        </div>
                    </ng-template>
                </div>

                <div *ngIf="portalState === portal.PhoneNumberOptions">
                    <app-options
                        [entrancePortal]="portal.ChoosePortal"
                        [optionName]="'Phone Number'"
                        [optionButtonNames]="['Add Phone Number','Find Phone Number']"
                        [optionButtonPortals]="[portal.PhoneNumberUpsert, portal.PhoneNumberLookup]"
                        (goToNextPortal)="activatePortal($event)"
                        (selectedItemChange)="resetData()">
                    </app-options>
                </div>
            </div>
        </div>
    </div>
</div>