

.main{
    border-width: 0px;
}

 /* Nexus Add Individual CSS */
input{
    width: 100%;
}

select{
    width: 100%;
}

button{
    width: 100%;
}

textarea{
    width: 100%;
    resize: none;
}

.individual-buttons {
    margin-top: auto;
}